---

---
<section>
    <video class="w-full h-screen object-cover object-top brightness-50"  src="/img/hero-video.mp4" autoplay muted loop>

    </video>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-5xl font-bold">Descubre las mejores oportunidades inmobiliarias</h1>
    </div>
</section>